---

import { profileConfig } from '../config'
import { url } from '../utils/url-utils'

// footer timer
const urodz: Date = new Date('8/16/2020')
const now: Date = new Date()
const ile = now.getTime() - urodz.getTime()
const dni = Math.floor(ile / (1000 * 60 * 60 * 24))
const timer = `本站至${urodz.getFullYear()}年${urodz.getMonth()}月${urodz.getDate()}日以来, 已运行${dni}天`
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <!-- Copyright -->
    <div class="transition text-50 text-sm">
        <span>
            © 2024 {profileConfig.name}. All Rights Reserved. /
            <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
            <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a>
        </span>
    </div>
    <!-- ICP -->
    <div class="transition text-50 text-sm">
        <span>
            <a class="transition link text-[var(--primary)]" target="_blank" href="https://beian.miit.gov.cn">闽ICP备2021004160号-1</a> & 
            <a class="transition link text-[var(--primary)]" target="_blank" href="https://beian.mps.gov.cn">闽公网安备35052402000298号</a> & 
            <a class="transition link text-[var(--primary)]" target="_blank" href="https://icp.gov.moe/?keyword=20220595">萌ICP备20220595号</a> &nbsp;
        </span>
    </div>
    <!-- Timer -->
    <div class="transition text-50 text-sm">
        <span>{timer}</span>
    </div>
    <!-- PoweredBy -->
    <div class="transition text-50 text-sm">
        <span>
            Powered by
            <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
            <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
        </span>
    </div>
</div>